* {
    margin:0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* ---------------------Header---------------- */

.header{
    width: 100%;
    position: fixed;
    background-color: #102542;
    top: 0;
    left: 0;
    padding: 20px 10%;
    color: #F87060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

a.logo:hover {
    color: #F87060;
    transition: .3s;
    text-decoration: underline;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ECE8EF;
    font-weight: 600;
    animation: slideTop .5s ease forwards;
}

.navbar a {
    color: #ECE8EF;
    font-size: 20px;
    display: inline-block;
    transition: .3s;
    margin-left: 35px;
    font-weight: 500;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}

.navbar-mobile {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #102542;
    text-align: center;
}

.navbar-mobile a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.navbar-mobile.show {
    display: block;
}

.navbar-mobile a:hover {
    color: #F87060;
    text-decoration: underline;
}

.burger {
    display: none;
}

.navbar a:hover {
    color: #F87060;
    text-decoration: underline;
}

/* ---------------------Home---------------- */
@media (max-width: 1023px) {
    .home-content {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        padding-top: 75px;
    }

    .home-content img{ 
        display: none;
    }

    .burger{
        display: block;
    }

    .navbar a {
        display: none;
    }
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 15% 25% 10% 10%;
    background-color: #ECE8EF;
    color: #000000;
}

/* RESPONSIVE NEEDED */

.home-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10vw;
    animation: slideRight .5s ease forwards;
}

.typed-container {
    display: flex;
    height: 150px;
    padding: 50px 0;
    align-items: center;
}

.left a {
    color: #000000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.left a.btn-box {
    text-decoration: none;
    border: 2px solid #4392F1;
    border-radius: 5px;
    margin: 30px 15px 30px 0;
    padding: 10px 10px;
}

.left a.btn-box:hover {
    background-color: #4392F1;
    color: #ECE8EF;
    transition: 0.5s;
    box-shadow: 0 0 30px #4392F1;
}


.home-content img {
    border-radius: 50%;
    height: auto;
    width: 100%;
    border: 10px ridge #DC493A;
}


.home-content span {
    color: #DC493A;
}

.home-content h3 {
    font-size: 46px;
    margin: 5px 0;
}

.home-content h1 {
    font-size: 70px;
    font-weight: 700;
    color: #4392F1;
}

.home-content p {
    font-size: 30px;
}



/* ---------------------About---------------- */

.about {
    padding: 5% 10%;
    color: #000000;
    background-color: white;
}

@media (max-width: 1000px) {
    .row {
        display: flex;
        flex-direction: column !important;
        /* align-items: center;
        justify-content: center; */
        /* text-align: center; */
        gap: 30px;
    }
}


.row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

/* The Width of the column */
.about-col1 {
    display: flex;
    flex-basis: 35%;
    align-items: center;
    justify-content: center;
}

.about-col1 img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.about-col2 {
    display: flex;
    flex-basis: 60%;
    /* justify-content: center; */
    flex-direction: column;
    font-size: 120%;
}

.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: #000000;
}

.subtitle span {
    color: #DC493A;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

@media (max-width: 400px) {
    .tab-titles {
        display: flex;
        flex-direction: column !important;
        gap: 10px;
    }

    html {
        font-size: 70%;
    }
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #4392F1;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
} 

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #DC493A;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ---------------------Skills---------------- */

@media (max-width: 700px) {
    .skills {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }
}

.skills {
    padding: 5% 10%;
    background-color: #ECE8EF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.technical-skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.soft-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    animation: slideRight .5s ease forwards;
}

/* ---------------------Projects ---------------- */
.portfolio {
    padding: 5% 10%;
    background-color: white;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-gap: 40px;
}

.project {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    animation: slideRight .5s ease forwards;
    margin-top: 50px; 
    
}

.project img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), #102542);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    color: #ECE8EF;
    transition: height 0.5s;
}

.project:hover img {
    transform: scale(1.1);
}

.project:hover .layer {
    height: 100%;
}


.layer h3 {
    font-weight: 500;
    margin-bottom: 10px;
}

.layer a {
    margin-top: 20px;
    text-decoration: none;
    background: #ECE8EF;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #4392F1; 
    border-radius: 6px;
    color: #000000;
    text-decoration: none;
    padding: 10px 10%;
}

.button:hover {
    background-color: #4392F1;
    color: #ECE8EF;
    transition: 0.5s;
    box-shadow: 0 0 30px #4392F1;
}

.button:disabled {
    background-color: grey;
    border: none;
}

@media (max-width: 800px) {
    .layer p {
        font-size: 10px;
    }

    .layer h3 {
        font-size: 15px;
    }
}

/* --------------------- Contact ---------------- */

.contact-container {
    background-color: #ECE8EF;
    display: flex;
    padding: 5% 10%;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
}

.col-1 {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    animation: slideRight .5s ease forwards; 
}

.col-2 {
    flex-basis: 60%;
    animation: slideRight .5s ease forwards; 
}

.col-2 form{
    width: 100%;
}

form input, textarea {
    width: 90%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 2% 5%;
    border-radius: 5px;
    font-weight: 700;
}

/* ---------------------Footer ---------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #102542;
    color: #ECE8EF;
    font-weight: 800;
    padding: 20px 5%;
}

/* ---------------------Animations---------------- */

@keyframes slideRight {
    0% {
        transform: translateX(-100px );
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    
    100% {
        transform: translate(0px);
        opacity: 1;
    }
}