* {
    margin:0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;

}

/* ---------------------Header---------------- */

.header{
    width: 100%;
    height: 8%;
    position: fixed;
    background-color: #102542;
    top: 0;
    left: 0;
    padding: 20px 10%;
    color: #F87060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

a.logo:hover {
    color: #F87060;
    transition: .3s;
    text-decoration: underline;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ECE8EF;
    font-weight: 600;
    animation: slideTop .5s ease forwards;
}

.navbar a {
    color: #ECE8EF;
    font-size: 20px;
    display: inline-block;
    transition: .3s;
    margin-left: 35px;
    font-weight: 500;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}

.navbar a:hover {
    color: #F87060;
    text-decoration: underline;
}

/* ---------------------Home---------------- */

@media (max-width: 768px) {
    .home {
        margin-top: 8%; /* Adjust the value as needed */
    }
}
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 70px 10%;
    background-color: #ECE8EF;
    color: #000000;
}

/* RESPONSIVE NEEDED */
.home-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10vw;
    animation: slideRight .5s ease forwards;
}

.left a {
    color: #000000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.left a.btn-box {
    text-decoration: none;
    border: 2px solid #4392F1;
    border-radius: 5px;
    margin: 30px 15px 30px 0;
    padding: 10px 10px;
}

.left a.btn-box:hover {
    background-color: #4392F1;
    color: #ECE8EF;
    transition: 0.5s;
    box-shadow: 0 0 30px #4392F1;
}


.home-content img {
    border-radius: 50%;
    height: auto;
    width: 100%;
    border: 10px ridge #DC493A;
}


.home-content span {
    color: #DC493A;
}

.home-content h3 {
    font-size: 46px;
    margin: 5px 0;
}

.home-content h1 {
    font-size: 70px;
    font-weight: 700;
    color: #4392F1;
}

.home-content p {
    font-size: 30px;
}



/* ---------------------About---------------- */

.about {
    padding: 10px 10%;
    color: #000000;
    background-color: #ECE8EF;
}


.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* The Width of the column */
.about-col1 {
    flex-basis: 35%;
}

.about-col1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col2 {
    flex-basis: 60%;

}

.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: #000000;
}

.subtitle span {
    color: #DC493A;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #4392F1;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
} 

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #DC493A;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}
/* ---------------------Skills---------------- */

@media (max-width: 500px) {
    .skills {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }
}

.skills {
    padding: 10vh 10%;
    background-color: #ECE8EF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.technical-skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    animation: slideTop .5s ease forwards;
    
}

.soft-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 20px;
    animation: slideTop .5s ease forwards;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* ---------------------Projects ---------------- */
.portfolio {
    padding: 10px 10%;
    background-color: #ECE8EF;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
}

.project img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), #DC493A);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    color: #ECE8EF;
    transition: height 0.5s;
}

.project:hover img {
    transform: scale(1.1);
}

.project:hover .layer {
    height: 100%;
}


.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 14px;
}

.layer a {
    margin-top: 20px;
    text-decoration: none;
    background: #ECE8EF;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layer p {
    font-size: 10px;
}

.button {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #DC493A; 
    border-radius: 6px;
    color: #000000;
    text-decoration: none;
    padding: 10px 10%;
}

.button:hover {
    background-color: #DC493A;
    color: #ECE8EF;
    transition: 0.5s;
    box-shadow: 0 0 30px #DC493A;
}

/* ---------------------Footer ---------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #102542;
    color: #ECE8EF;
    font-weight: 800;
}

/* ---------------------Animations---------------- */

@keyframes slideRight {
    0% {
        transform: translateX(-100px );
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    
    100% {
        transform: translate(0px);
        opacity: 1;
    }
}